detection/data-yolo/*
detection/data-coco/*
!detection/data-yolo/.gitkeep
!detection/data-yolo/data.yaml

detection/results/

classification/data_augmented/
classification/data_split/
classification/data_split_augmented/
classification/data
classification_v2/data_fold/
classification_v3/data
classification_v3/test.ipynb
classification_v3/plots
classification_v3/logs

