detection/data-yolo/
detection/data-coco/
detection/eval/
detection/results/

classification/data
classification/test.ipynb
classification/plots
classification/logs
classification/model/__pycache__
.vscode/
