detection/data-yolo/*
detection/data-coco/*
!detection/data-yolo/.gitkeep
!detection/data-yolo/data.yaml

detection/results/

classification/data
classification/test.ipynb
classification/plots
classification/logs
classification/model/__pycache__
.vscode/
